.complete-file-content-view {
    display: flex;
    margin: 10px;
    align-items: center;
    background-color: #ebeef3;
    border-radius: 5px;
    height: 65px;
    margin-top: 10px;
    border: 2px solid #eaeef3;
  }
  
  .file-document-layout {
    display: flex;
    margin: 2px 20px;
    background-color: #ffffff;
    height: 45px;
    width: 85%;
    border-radius: 5px;
  }
  
  .error-layout {
    border: 2px solid #FF2828;
  }
  
  .file-information-layout {
    display: flex;
    flex-direction: column;
  }
  
  .file-icon-layout {
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .file-size {
    font-size: 10px;
    font-weight: bold;
    color: #727885;
  }
  
  .file-name {
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .delete-button {
    cursor: pointer;
    border: 1px solid #ebeef3;
  }
  
