{
  "plugins": ["jsx-a11y"],
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "prefer-const":"error",
    "space-infix-ops":"error",
    "max-len":"error",
    "no-irregular-whitespace": "error",
    "semi": "error",
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": ["error", {"max": 1}],
    "eol-last": "error",
    "indent": ["error", 2]
  }
}