.header {
  position: fixed;
  top:0; 
  z-index: 2;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0b38a1;
  height: 55px;
  width: 100%;
  padding: 0px 10px;
  z-index: 1500;

  .logged-in-app-header{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.round {
  display: flex;
  align-items: center;
  border: none;
  }

.interview-insights-title {
  display: flex;
  align-items: center;
  color: white;
  height: 35px;
  border-radius: 6px;
  margin-left: 25px;
  box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
  padding: 0px 10px 0px 10px;
  transform: translateY(10%);
  font-size: 18px;
}

.innova-logo {
  width: 50px;
 }

.expand {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.user-details {
  display: flex;
  width: 230px;
  height: 115px;
  border-radius: 4px 0px 0px 0px;
 }

.user-name {
  align-self: flex-start; 
}

.user-role {
  align-self: flex-start;
  color: #929292;
}

.expand-div {
  width: 230px;
  height: auto;
  border: 2px solid Whitesmoke;
  border-radius: 5px;
  font-size: 25px;
  position: absolute;
  top:84%;
  left:84%;
  padding: 12px;
  background-color:#F5F5F7;
  display: flex;
  align-items:  flex-start;
  flex-direction: column;
}

.expand-div hr {
  width: 100%;  
  margin: 8px 0; 

}

.expand-icon {
  margin-left: 5px;
  cursor: pointer;
}


.logout-icon {
  align-self: flex-start;
  display: inline-block;
  }

 .logout-icon > div {
  display: inline-flex;
  align-items: center;
 }

.logout-button {
  border: none;
  background: none;
}
.round-button {
  cursor: auto !important;
}