.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0047AB;
    height: 85px;
    color:aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.company-logo{
    position: absolute;
    left: 25px;
    height:80px;
    width:80px;
}

.project-title{
    position: absolute;
    left:150px;
    box-sizing: border-box;
    font-size: 25px;
}