.header {
  background-color: #0b38a1;
  padding-bottom :30px;
  position: fixed;
  top:0; 
  text-align: left;
  max-height: 60px;
  width: 100%;
  display:flex;
  align-items: flex-start;
 
}
.round {
  display: flex;
  align-items: center;
  border: none;
  margin-bottom: 2px;
  margin-right: 10px;
}

.user-profile {
  width: 56.76px;
  height: 41.76px;
  padding: 6px 0px 0px 0px;
  gap: 5px;
 }

.interview-insights-title {
  color: white;
  height: auto;
  border-radius: 8px;
  margin-left: 40px;
  box-shadow: 0 0 6px 1px rgba(255, 255, 255,0.5);
  padding: 8px;
  margin-top: 9px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  position: fixed;
}

.innova-logo {
  display:flex;
  margin: 15px;
  max-height: 35px;
  max-width: 80px;
  }

 .header-template{
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }

.expand {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user-details {
  display: flex;
  width: 230px;
  height: 115px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}

.user-name {
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.user-role {
  margin-top: 0.01px;
  margin-bottom: 5px;
  margin-left: 15px;
  color: #929292;
}

.expand-div {
  width: 230px;
  height: 130px;
  border: 2px solid Whitesmoke;
  border-radius: 5px;
  font-size: 25px;
  position: absolute;
  top:84%;
  left:84%;
  padding: 12px;
  background-color:#F5F5F7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.expand-icon {
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.logout {
  display: flex;
  font-size: 14.22px;
  font-weight: 600;
  line-height: 17.21px;
  text-align: center;
  cursor: pointer;

}
.logout-icon {
  /* display: flex; */
  height : 30px;
}
