.dashboard {
  padding: 20px 30px;
}

.dashboard-filters-and-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
  

  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    text-align: left;
    border-bottom: 1px solid #D9E0E6;
  }

  td {
    text-align: left;
  }

  .Pagination{
    display: block;
    align-items: center;
  }

  td {
    padding: 10px;
  }

.filter{
  margin-left: 5px;
  cursor: pointer;
}

.candidate-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* .add-candidate-button {
  margin-right: 0;
  height: 10px;
  display: flex;
  justify-content: right;
  align-items:left;
  padding-right:75px;
  padding-bottom: 30px;
} */

.blue-button {
  background-color: #4595FF;
  color: #ffffff; 
  border: none;
  padding: 20px 20px 30px 20px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  height: 0px;
  width: 150px;
  display: inline-flex;
}

.blue-button:hover {
  background-color: #0056b3;
}

.search-field {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #c2b5b5;
  border-radius: 5px;
  padding:5px;
}

.search-field input {
  /* padding: 10px 30px 10px 10px; */
  border: none;
  width: 400px;
}

.search-field input:hover{
  border: 1px solid #c2b5b5;
}

.candidate-insights{
  font-weight: bold;
  display: inline-flex;
}

.config-question{
    position: absolute;
    right: 0;
    background-color: #0047AB;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 4px;
    border-radius: 5px;
}

.anchor-tag{
    color: aliceblue;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}