.status-filter-popup {
    position: absolute;
    top: 60px;
    left: 500px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    z-index: 100;
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
  .status-checkbox:checked{
    background-color: blue;
    cursor:pointer;
  }
  
  .status-filter-label {
    display: flex;
    margin-bottom: 8px;
  }
  
  .status-filter-popup input[type="checkbox"] {
    position: relative;
    width: 15px;
    height: 20px; 
    color: blue; 
    border: 1px solid #666; 
    border-radius: 3px;
    margin-right: 5px;
  }

  .status-filter-popup input[type="checkbox"]::before {
    display: flex;
    justify-content: flex-start;
  }
  
  .status-filter-popup input[type="checkbox"]:checked::before { 
    position: absolute; 
    top: 2px; 
    left: 5px; 
    font-size: 16px;
  }

 .status-filter-popup input[type='checkbox']:checked{
  background-color: blue;
 }
