 button {
    margin: 15px;
    padding: 3px;
    /* width: 40px;
    height: 40px; */
    border-radius: 5px;
    opacity: 0px;
    cursor: pointer;
    justify-content: space-between;
    margin-right: 15px;
    margin-top: 15px;
    background-color: transparent;
    color: #000;
    border:none;
  }
  
 button:disabled {
    cursor: not-allowed;
  }

.pagination {
    display: flex;
    justify-content: flex-end;
  }

.page-button.active {
  width: 30px;
  height: 30px;
  background-color: #cde8ff;
  color: #0b55bd;
  border-color: #cde8ff;
}

.current-page-entries {
  margin-left: 10px;
  align-self: center;
  color: #000;
  }
  