.profile-viewer.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #EBEEF3;
  max-width: 100%;
}

.id-proof-title {
  display: flex;
  width: 60%;
  font-weight: 700;
}

.id-proof.container {
  background-color: #FFFFFF;
  width: 60%;
}

.id-proof-text {
  font-weight: 450;
  padding-top: 5px;
  margin-bottom: 5px;
}

.id-proof-text::after {
  content: " *";
  color: #FF2828;
}

.id-proof-super-container {
  background-color: #FFFFFF;
  width: 60%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.next-page-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 60%;
}

.next-page-button {
  display: flex;
  font-weight: 550;
  margin-top: 10px;
  border: none;
  color: #C0C0C0;
  background-color: #EBEEF3;
}

.next-page-button:hover {
  color: #4595FF;
}

.arrow-container {
  display: flex;
  margin-top: 9px;
  margin-left: 5px;
}

.arrow-container svg path {
  fill: #C0C0C0;
}

.next-page-button:hover .arrow-container {
  content: url(../../../assets/Images/blueRightArrowIcon.svg);
  display: flex;
  margin-top: 2px;
}


