.header {
  background-color: #0b38a1;
    display: flex;
    position:fixed;
    text-align: left;
    height: 70px;
    width: 100%;  
}


.title-container {
  width: 13em;
  font :Inter;
  background-color: transparent;
  border-radius: 5px;
  margin-left: 180px;
  padding: 5px 10px;
  position: fixed;
  height: 40px;
  margin-top: 15px;
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.5);
}

.title {
  color: white;
  height: 90px;
  display: block;
  margin: auto;
  position: fixed;
  top: 13.08px;
  box-sizing: border-box;
  font-size: 25px;
  border-radius: 100px;
}

.logo {
    height: 6rem;
    margin-left:30px ;
    margin-right:2em; 
}

.user-icon {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1290px;
}

.user-icon img {
  height: 70%;
}

@media (max-width: 768px) {
  .user-icon {
    margin-left: 50px;
  }
  .user-icon img {
    max-height: 50%;
    max-width: 50%;
  }
}

