/* .user-display{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #326D62 0%, #0E5291 51.6%, #0E034F 100%);
    color: white;
    padding: 5px 10px;
} */


.config-question{
    background-color: #4595ff;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    color:white;
    padding:10px;
}

* {
  box-sizing: border-box;
}

.user-display {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(90deg, #326d62 0%, #0e5291 51.6%, #0e034f 100%);
  color: white;
  margin: 30px;
  border-radius: 8px;
  z-index: -1;
  padding: 18px 25px;
}

.user-details-line1 {
  display: flex;
  justify-content: space-between;
}

.user-details-line2 {
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
}

.profileName {
  font-size: 16px;
}

.roleName {
    font-size: 11.22px;
}

.left {
  text-align: left;
}
