.user-display{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #326D62 0%, #0E5291 51.6%, #0E034F 100%);
    color: white;
    padding: 15px 10px;
    margin:30px;
    border-radius: 8px;
    position: relative;
    z-index: -1;
}

.user-details{

}

.candidates-count{

}