*{
    box-sizing: border-box;
}


.LoginSpanText{
    margin-top: 15px ;
    color: blue;
}

.container{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: block;
    margin: auto;
    border-radius: 20px;
}

h3{
    text-align: center;
}

h2{
    text-align: center;
}

input, label{
    margin-left: 50px;
    margin-bottom: 20px;
    width: 80%;
}

label{
    margin-left: 50px;
    margin-bottom: 20px;
    width: 100%; 
}

button{
    width: 50%;
    display: block;
    margin: auto;
}